src/main/resources/person.xsd

<xs:schema xmlns:xs        = "http://www.w3.org/2001/XMLSchema"
           targetNamespace = "http://ivoronline.com/soap">

    <!-- getPersonRequest -->
    <xs:element name="getPersonRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getPersonResponse -->
    <xs:element name="getPersonResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
